@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

body {
  @apply bg-white text-gray-900;
}

@theme {
  --color-primary: #2563eb;
  --color-primary-dull: #1f58d8;
  --color-light: #f1f5f9;
  --color-borderColor: #e2e8f0;
}

@utility no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-hide {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}